<h1>Airports</h1>

<table *ngIf="airportList" class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>N<sup>o</sup></th>
    <th>Country name</th>
    <th>Country code</th>
    <th>Airport name</th>
    <th>Airport code</th>
    <th>City</th>
    <th>Lat</th>
    <th>Long</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let airport of airportList; let i = index">
    <td>{{i + 1}}</td>
    <td>{{airport.countryName}}</td>
    <td>{{airport.countryCode}}</td>
    <td>{{airport.airportName}}</td>
    <td>{{airport.airportCode}}</td>
    <td>{{airport.cityName}}</td>
    <td>{{airport.latitude}}</td>
    <td>{{airport.longitude}}</td>
    <td><button class="btn btn-primary btn-sm">Edit</button></td>
  </tr>
  </tbody>
</table>

