<div class="d-flex justify-content-center">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <h1>Flights</h1>

  <div class="row py-5">
    <div class="col">
    </div>
  </div>

  <hr>

  <div class="row mb-3">
    <div class="col-md-6 col-xs-12">
      <dl>
        <dt>Total flights</dt>
        <dd>{{flightList?.length}}</dd>
      </dl>
      <dl>
        <dt>Time since last flight</dt>
        <dd>{{timeSinceLastFlight}}</dd>
      </dl>
    </div>
  </div>

  <ng-container *ngIf="flightList">

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Table">
        <div class="py-5">
          <div class="table-responsive">
            <table *ngIf="flightList.length" class="table table-sm table-bordered table-striped">
              <thead>
              <tr>
                <th>N<sup>o</sup></th>
                <th>Aircraft</th>
                <th>Registration</th>
                <th>PIC</th>
                <th>Co-pilot</th>
                <th>From</th>
                <th>To</th>
                <th>Departure date</th>
                <th>Departure time</th>
                <th>Arrival date</th>
                <th>Arrival time</th>
                <th>Remarks</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let flight of flightList; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{flight?.aircraft?.aircraftType?.type}}</td>
                <td>{{flight?.aircraft?.tailNumber}}</td>
                <td>{{flight?.pilotInCommand?.moniker}}</td>
                <td></td>
                <td>{{flight?.departureAirport?.airportName}}</td>
                <td>{{flight?.arrivalAirport?.airportName}}</td>
                <td>{{flight?.departureDatetime | date : 'longDate'}}</td>
                <td>{{flight?.departureDatetime | date : 'HH:mm'}}</td>
                <td>{{flight?.arrivalDatetime | date : 'longDate'}}</td>
                <td>{{flight?.arrivalDatetime | date : 'HH:mm'}}</td>
                <td>{{flight?.remarks}}</td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="confirmDeleteFlight(flight)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Cards">
        <div class="py-5">
          <div *ngFor="let flight of flightList" class="card mb-3">
            <div class="card-header d-flex align-items-center">
              <i class="bi bi-calendar"></i><span class="px-2">{{flight?.departureDatetime | date : 'fullDate'}}</span>
              <div class="d-flex ms-auto"><i class="bi bi-airplane"></i> <span
                class="px-2">{{flight?.aircraft?.tailNumber}}</span></div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{flight?.departureAirport?.airportName}}
                to {{flight?.arrivalAirport?.airportName}}</h5>

              <p class="card-text"><i class="bi bi-clock"></i> <span class="px-2">{{flight?.flightTime}}</span></p>

              <div class="row mb-3">
                <div class="col-md-6 col-xs-12">
                  <dl>
                    <dt>Aircraft</dt>
                    <dd>{{flight?.aircraft?.aircraftType?.type}} {{flight?.aircraft?.tailNumber}}</dd>
                  </dl>
                </div>
                <div class="col-md-6 col-xs-12">
                  <dl>
                    <dt>Pilot in command</dt>
                    <dd>{{flight?.pilotInCommand?.moniker}}</dd>
                  </dl>
                </div>
                <div class="col-md-6 col-xs-12">
                  <dl>
                    <dt>Departure</dt>
                    <dd>{{flight?.departureDatetime | date : 'EEEE, MMMM d, y, h:mm'}}</dd>
                  </dl>
                </div>
                <div class="col-md-6 col-xs-12">
                  <dl>
                    <dt>Arrival</dt>
                    <dd>{{flight?.arrivalDatetime | date : 'EEEE, MMMM d, y, h:mm'}}</dd>
                  </dl>
                </div>
              </div>

              <a href="#" class="btn btn-primary">Edit flight</a>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </ng-container>

  <div class="row">
    <div class="col-12">
      <div class="border border-dark p-3 mb-2 border-opacity-25">
        <form [formGroup]="flightForm">

          <app-validated-dropdown *ngIf="peopleList" [params]="peopleDropdown"></app-validated-dropdown>

          <app-validated-dropdown *ngIf="aircraftList" [params]="aircraftDropdown"></app-validated-dropdown>

          <app-validated-dropdown *ngIf="airportList" [params]="departureAirportDropdown"></app-validated-dropdown>

          <app-validated-dropdown *ngIf="airportList" [params]="arrivalAirportDropdown"></app-validated-dropdown>

          <div class="row">
            <div class="col-12 mb-3">
              <label for="departureDate" class="form-label">Departure date</label>
              <input id="departureDate" type="date" class="form-control" [formControl]="departureDate">
            </div>
          </div>

          <div class="row">
            <div class="col-12 mb-3">
              <label for="arrivalDate" class="form-label">Arrival date</label>
              <input id="arrivalDate" type="date" class="form-control" [formControl]="arrivalDate">
            </div>
          </div>

          <div class="row">
            <div class="col-12 mb-3">
              <label for="departureTime" class="form-label">Departure time</label>
              <input id="departureTime" type="time" class="form-control" [formControl]="departureTime">
            </div>
          </div>

          <div class="row">
            <div class="col-12 mb-3">
              <label for="arrivalTime" class="form-label">Arrival time</label>
              <input id="arrivalTime" type="time" class="form-control" [formControl]="arrivalTime">
            </div>
          </div>

          <div class="row">
            <div class="col-12 mb-3">
              <label for="takeOffs" class="form-label">Take offs</label>
              <input id="takeOffs" type="number" min="0" class="form-control" [formControl]="takeOffs">
            </div>
          </div>

          <div class="row">
            <div class="col-12 mb-3">
              <label for="landings" class="form-label">Landings</label>
              <input id="landings" type="number" min="0" class="form-control" [formControl]="landings">
            </div>
          </div>

          <div class="mb-3">
            <label for="remarks" class="form-label">Remarks</label>
            <input type="text" class="form-control"
                   id="remarks" [formControl]="remarks">
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" (click)="save()" [disabled]="!flightForm.valid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--<button class="btn btn-primary" (click)="openDialog()">Open dialog</button>-->
</ng-container>
