<div class="d-flex justify-content-center">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <h1>Flights</h1>

  <div class="row">
    <div class="col-12">
      <pre>{{flightForm?.value | json}}</pre>
    </div>
  </div>

  <app-table [config]="tableConfig" (emitter)="editFlight($event)"></app-table>

  <div class="row">
    <div class="col-12">
      <div class="border border-dark p-3 mb-2 border-opacity-25">
        <form [formGroup]="flightForm">

          <app-validated-dropdown *ngIf="peopleList" [params]="peopleDropdown"></app-validated-dropdown>

          <app-validated-dropdown *ngIf="aircraftList" [params]="aircraftDropdown"></app-validated-dropdown>
          
          <div class="mb-3">
            <button class="btn btn-primary" (click)="save()" [disabled]="!flightForm.valid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--<button class="btn btn-primary" (click)="openDialog()">Open dialog</button>-->
</ng-container>
