<div class="d-flex justify-content-center">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <h1>Flights</h1>

  <div class="row mb-3">
    <div class="col">
      <app-table [displayedColumns]="displayedColumns" [dataSource]="dataSource" (emitter)="editFlight($event)"></app-table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="addFlight()">Add flight</button>
    </div>
  </div>

</ng-container>
