<div class="d-flex justify-content-center">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<ng-container *ngIf="!loading">
  <h1>Aircraft</h1>

  <div class="row mb-3">
    <div class="col">
      <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
                 (emitter)="editAircraft($event)"></app-table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="addAircraft()">Add aircraft</button>
    </div>
  </div>

</ng-container>
